# Ruby
*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/
.rspec_status

# Bundler
/.bundle/
/vendor/bundle
Gemfile.lock

# RDoc
/doc/
/rdoc/

# YARD
/.yardoc/
/_yardoc/
/doc/

# SimpleCov
/coverage/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
*.xcworkspace
!default.xcworkspace

# XCFramework outputs
SDKs/
*.xcframework

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
*.log

# Temporary files
.project-info

